﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Ventas Online</h1>
</div>

<div class="row">

    <!-- ko if:userLogged() -->
    <!-- ko if:rolUser()==false -->
    
    <div class="col-md-9">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><strong><label>Carrito</label></strong></h2>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr><td><strong>Precio</strong></td><td data-bind="text: comprandoCarrito"></td></tr>
                        <tr>
                            <td></td>
                            <td><a href="#"><img src="~/Images/carrito.png" data-bind="click: addCarrito" width="70px" height="60px" title="Finalizar Compra" style="margin-left:50%;" /></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <ul class="list-unstyled" data-bind="foreach: carritoDelUsuario">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong><label data-bind="text: producto.nombreProducto"></label></strong></h2>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr><td><strong>Precio</strong></td><td data-bind="text: 'Q'+precioUnitario"></td></tr>
                            <tr><td><strong>Cantidad</strong></td><td data-bind="text:cantidadProducto"></td></tr>
                            <tr><td></td><td><a href="#"><img src="~/Images/menos.png" data-bind="click: $parent.discountArticle" width=" 40px" height="25px" style="margin-left:50%;" /></a></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </ul>
    </div>

    <!-- /ko -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><strong><label data-bind="text: userLogged().username"></label></strong></h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr><td><center><img src="~/Images/usuario.jpg" width="200px" height="200px" /></center></td></tr>
                    <center><label data-bind="text: userLogged().nombre"></label></center>
                </table>
                <a href="#" style="margin-left: 60%" data-bind="click: logout">Cerrar Sesion</a>
            </div>
        </div>
        <div class="col-lg-11">
            <button data-bind="visible: estadoCarrito" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="alert alert-success" data-bind="visible: estadoCarrito"><p data-bind="text: estadoCarrito"></p></div>
        </div>
    </div>
    <!-- /ko -->
</div>