﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Ventas Online</h1>
</div>

<div class="row">


    <!-- ko if:rolUser()==true -->
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#lista" aria-controls="lista" role="tab" data-toggle="tab">Ver Productos</a></li>
            <li role="presentation"><a href="#agregar" aria-controls="agregar" role="tab" data-toggle="tab">Agregar</a></li>
        </ul>
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="lista">
                <br />
                <div class="col-md-9">
                    <ul class="list-unstyled" data-bind="foreach: listaProductos">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title"><strong><label data-bind="text: nombreProducto"></label></strong></h2>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td><center><img data-bind="attr:{ src: '/Images/' + rutaImagen }" width="100px" height="100px" /></center></td>
                                            <td>
                                                <table>
                                                    <tr><td>Descripcion</td></tr>
                                                    <tr><td data-bind="text: descripcion.substr(0,15)"></td></tr>
                                                    <tr><td>Precio</td></tr>
                                                    <tr><td data-bind="text: 'Q'+precio"></td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <small style="margin-left:65%"><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" data-bind="click: $parent.getProductoEdit">Editar</a>&nbsp;&nbsp;&nbsp;<a href="#" data-bind="click: $parent.getProductDelete">Eliminar</a></small>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="agregar">
                <br />
                <div class="col-md-9">
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Nuevo Producto</h2>
                            </div>
                            <div class="panel-body" >
                                <form data-bind="submit: crearProducto">
                                    <div class="form-group">
                                        <label for="lblNombre">Nombre del Producto</label>
                                        <input type="text" class="form-control" id="txtNombre" required data-bind="value: newProductoes.nombreProducto" placeholder="Nombre del Producto">
                                    </div>
                                    <div class="form-group">
                                        <label for="lblDescripcion">Descripcion</label>
                                        <input type="text" class="form-control" required id="txtDescripcion" data-bind="value: newProductoes.descripcion" placeholder="Descripcion">
                                    </div>
                                    <div class="form-group">
                                        <label for="lblPrecio">Precio</label>
                                        <input type="number" required class="form-control" id="txtPrecio" data-bind="value: newProductoes.precio" placeholder="Precio">
                                    </div>
                                    <div class="form-group">
                                        <label for="lblImagen">Imagen</label>
                                        <input name="myFile" id="inputFile" type="file" required data-bind="value: newProductoes.rutaImagen" />
                                    </div>
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
   <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><strong><label data-bind="text: userLogged().username"></label></strong></h2>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr><td><center><img src="~/Images/usuario.jpg" width="200px" height="200px" /></center></td></tr>
                        <center><label data-bind="text: userLogged().nombre"></label></center>
                    </table>
                    <a href="#" style="margin-left: 60%" data-bind="click: logout">Cerrar Sesion</a>
                </div>
            </div>
        </div>
  
    
    <!-- /ko -->
</div>
<!-- ko if:productoEditar() -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallMoldaLabel " aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Producto</h4>
            </div>
            <form data-bind="submit: editProducto">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="lblNombre">Nombre del Producto</label>
                        <input type="text" class="form-control" id="txtNombre" data-bind="value:editProductoes.nombreProducto,textinput:productoEditar().nombreProducto" placeholder="Nombre del Producto">
                    </div>
                    <div class="form-group">
                        <label for="lblDescripcion">Descripcion</label>
                        <input type="text" class="form-control" id="txtDescripcion" data-bind="value:editProductoes.descripcion,textinput:productoEditar().descripcion" placeholder="Descripcion">
                    </div>
                    <div class="form-group">
                        <label for="lblPrecio">Precio</label>
                        <input type="number" class="form-control" id="txtPrecio"  data-bind="value:editProductoes.precio,textinput:productoEditar().precio" placeholder="Precio">
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success" data-bind="visible: estado"><p data-bind="text: estado"></p></div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /ko -->