﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Ventas Online</h1>
</div>
<div class="row">
</div>
<div class="row">


    <!-- ko if:rolUser()==true -->
    <div role="tabpanel">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#listar" aria-controls="listar" role="tab" data-toggle="tab">Listar</a></li>
            <li role="presentation"><a href="#agregar" aria-controls="agregar" role="tab" data-toggle="tab">Nuevo Usuario</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="listar">

                <br />
                <div class="col-md-9">
                    <ul class="list-unstyled" data-bind="foreach: listaUsers">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title"><strong><label data-bind="text: username"></label></strong></h2>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr><td><strong>Username</strong></td><td data-bind="text: username"></td></tr>
                                        <tr><td><strong>Nombre</strong></td><td data-bind="text: nombre"></td></tr>
                                        <tr><td><strong>Rol</strong></td><td data-bind="text: rol == true ? 'Administrador' : 'Usuario'"></td></tr>
                                    </table>
                                    <small style="margin-left:78%"><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" data-bind="click: $parent.getUserEdit">Editar</a></small>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="agregar">
                <br />
                <div class="col-md-9">
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Nuevo Administrador</h2>
                            </div>
                            <div class="panel-body" data-bind="submit: crearAdmin">
                                <form>
                                    <div class="form-group">
                                        <label for="lblUsername">Username</label>
                                        <input type="text" class="form-control" id="txtUsername" data-bind="value: newUsuario.username" placeholder="Nombre de Usuario">
                                    </div>
                                    <div class="form-group">
                                        <label for="lblPass">Contraseña</label>
                                        <input type="password" class="form-control" id="txtPass" data-bind="value: newUsuario.pass" placeholder="Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <label for="lblNombre">Nombre</label>
                                        <input type="text" class="form-control" id="txtNombre" data-bind="value: newUsuario.nombre" placeholder="Nombre">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><strong><label data-bind="text: userLogged().username"></label></strong></h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr><td><center><img src="~/Images/usuario.jpg" width=" 200px" height="200px" /></center></td></tr>
                    <center><label data-bind="text: userLogged().nombre"></label></center>
                </table>
                <a href="#" style="margin-left: 60%" data-bind="click: logout">Cerrar Sesion</a>
            </div>
        </div>
    </div>
    
    <!-- /ko -->
    <!-- ko if: userLogged() -->
    <!-- /ko -->
</div>

<!-- ko if:usuarioEditar() -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallMoldaLabel " aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Usuario</h4>
            </div>
            <form data-bind="submit: editUsuario">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="lblNombre">Nombre del Usuario</label>
                        <input type="text" class="form-control" id="txtNombre" required data-bind="value:editUsuarios.nombre,textinput:usuarioEditar().nombre" placeholder="Nombre del Usuario">
                    </div>
                    <div class="form-group">
                        <label for="lblPass">Contraseña</label>
                        <input type="password" class="form-control" id="txtpass" required data-bind="value:editUsuarios.pass,textinput:usuarioEditar().pass" placeholder="Contraseña">
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success" data-bind="visible: estado"><p data-bind="text: estado"></p></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /ko -->