﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header" >
    <h1>Ventas Online</h1>
</div>

<div class="row" >

    <!-- ko if: userLogged() -->
    <div class="col-md-9">
        <!-- ko if: rolUser()==false     -->
        <ul class="list-unstyled" data-bind="foreach: listaProductos">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong><label data-bind="text: nombreProducto"></label></strong></h2>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td><img data-bind="attr:{ src: '/Images/' + rutaImagen }" width="100px" height="100px" /></td>
                                <td>
                                    <table>
                                        <tr><td>Descripcion</td></tr>
                                        <tr><td data-bind="text: descripcion.substr(0,15)"></td></tr>
                                        <tr><td>Precio</td></tr>
                                        <tr><td data-bind="text: 'Q'+precio"></td></tr>
                                        <tr><td></td><td data-bind="id: idProducto"><a href="#" data-bind="click: $parent.buyArticle"><img src="~/Images/carritoAdd.png" width="45px" height="30px" title="Comprar articulo" style="margin-left:10%" /></a></td></tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </ul>
        <!-- /ko -->
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><strong><label data-bind="text: userLogged().username"></label></strong></h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr><td><center><img src="~/Images/usuario.jpg" width="200px" height="200px" /></center></td></tr>
                    <center><label data-bind="text: userLogged().nombre"></label></center>
                </table>
                <a href="#" style="margin-left: 60%" data-bind="click: logout">Cerrar Sesion</a>
            </div>
        </div>
        <div class="col-lg-11">
            <button data-bind="visible: estadoCarrito" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="alert alert-success" data-bind="visible: estadoCarrito"><p data-bind="text: estadoCarrito"></p></div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if:rolUser()==true -->
    <!-- /ko -->

    <!-- ko ifnot: userLogged() -->

    <div class="col-md-4">
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Nav tabs -->
            <div role="tabpanel">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Iniciar Sesión</a></li>
                    <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Registrarse</a></li>
                </ul>
                <div class="tab-content">

                    <!-- Tab panes -->
                    <div role="tabpanel" class="tab-pane active" id="login">
                        <div class="panel-body" data-bind="submit: login">
                            <form>
                                <div class="form-group">
                                    <label for="lblUsername">Username</label>
                                    <input type="text" class="form-control" id="txtUsername" data-bind="value: userName" placeholder="Nombre de Usuario">
                                </div>
                                <div class="form-group">
                                    <label for="lblPass">Contraseña</label>
                                    <input type="password" class="form-control" id="txtPass" data-bind="value: userPassword" placeholder="Contraseña">
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>

                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="register">

                        <div class="panel-body" data-bind="submit: crearUsuario">
                            <form>
                                <div class="form-group">
                                    <label for="lblUsername">Username</label>
                                    <input type="text" class="form-control" id="txtUsername" data-bind="value: newUsuario.username" placeholder="Nombre de Usuario">
                                </div>
                                <div class="form-group">
                                    <label for="lblPass">Contraseña</label>
                                    <input type="password" class="form-control" id="txtPass" data-bind="value: newUsuario.pass" placeholder="Contraseña">
                                </div>
                                <div class="form-group">
                                    <label for="lblNombre">Nombre</label>
                                    <input type="text" class="form-control" id="txtNombre" data-bind="value: newUsuario.nombre" placeholder="Nombre">
                                </div>
                                <button type="submit" class="btn btn-primary">Registrarse</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" data-bind="visible: loginError">
            <button data-bind="visible: loginError" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong data-bind="visible: loginError"><label data-bind="text: loginError" /></strong>
        </div>
    </div>
    <!-- /ko -->
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>