﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Ventas Online</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Usuarios</h2>
            </div>
            <div class="panel-body">
                    <ul class="list-unstyled" data-bind="foreach: users">
                        <table class="table">
                            <tr><td><strong>Username</strong></td><td data-bind="text: username"></td></tr>
                            <tr><td><strong>Rol</strong></td><td data-bind="text: rol == true ? 'Administrador' : 'Usuario'"></td></tr>
                            <tr><td><strong>Tarjeta Credito</strong></td><td data-bind="text: tarjetaCredito"></td></tr>
                            _________________________________________
                        </table>
                    </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <div class="col-md-4">
        <!-- TODO: Book details -->
    </div>

    <div class="col-md-4">
        <!-- TODO: Add new book -->
    </div>
</div>